[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Change video sync settings
Exec=kfocus-vidsync
Icon=kfocus-bug-vidsync
Keywords=kubuntu;focus;kfocus;video;setup;sync;tearing;vblank;kfocus-vidsync
Name=Video Sync Utility
StartupNotify=false
Terminal=false
Type=Application
