[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Enable or disable Thunderbolt
Exec=/usr/lib/kfocus/bin/kfocus-tbt
Icon=kfocus-bug-tbt
Keywords=kubuntu;focus;kfocus;thunderbolt;tbt;display
Name=Thunderbolt Control
StartupNotify=false
Terminal=false
Type=Application
