[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Change power profile
Exec=kfocus-power
Icon=kfocus-bug-power
Keywords=kubuntu;focus;kfocus;power;setup;profile
Name=Power Profile Utility
StartupNotify=false
Terminal=false
Type=Application
