[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Change default keyboard colors
Exec=kfocus-kb-color
Icon=kfocus-bug-kbcolor
Keywords=kubuntu;focus;kfocus;keyboard;color;default
Name=Keyboard Color Chooser
StartupNotify=false
Terminal=false
Type=Application
