[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Change fan profile
Exec=/usr/lib/kfocus/bin/kfocus-power
Icon=kfocus-bug-power
Keywords=kubuntu;focus;kfocus;fan;fan curve;fan profile
Name=Fan Profile
StartupNotify=false
Terminal=false
Type=Application
