[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Change fan profile
Exec=kfocus-fan
Icon=kfocus-bug-fan
Keywords=kubuntu;focus;kfocus;power;setup;profile
Name=Fan Profile
StartupNotify=false
Terminal=false
Type=Application
