[Desktop Entry]
Categories=Development;X-Kubuntu-Focus;
Comment=Install GPU accelerated deep learning
Exec=/usr/lib/kfocus/bin/kfocus-conda
Icon=kfocus-bug-conda
Keywords=kubuntu focus;kfocus;conda;jupyter;keras;mxnet;pytorch;tensorflow;theano;
Name=Anaconda GPU AI Suite Installer
StartupNotify=false
Terminal=true
Type=Application
