[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Change keyboard color and brightness
Exec=kfocus-kb-color
Icon=kfocus-bug-kbcolor
Keywords=kubuntu;focus;kfocus;keyboard;color;default;kfocus-kb-color
Name=Keyboard Color Chooser
StartupNotify=false
Terminal=false
Type=Application
