[Desktop Entry]
Categories=System;Development;X-Kubuntu-Focus;
Comment=Change default C compiler version
Exec=kfocus-pick-gcc
Icon=kfocus-bug-pick-gcc
Keywords=switch-gcc;pick-gcc;kfocus-gcc;switch-compiler;pick-compiler;kfocus-compiler;kfocus-pick-gcc;kfocus-pick-gcc
Name=C Compiler Switcher
StartupNotify=false
Terminal=false
Type=Application
