[Desktop Entry]
Categories=System;Development;X-Kubuntu-Focus;
Comment=Change default C compiler version
Exec=kfocus-pick-gcc
Icon=kfocus-bug-pick-gcc
Keywords=kubuntu;focus;kfocus;gcc;g++;compiler
Name=C Compiler Version Switcher
StartupNotify=false
Terminal=false
Type=Application
