[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Increase GPU Performance
Exec=kfocus-pl-gamemode
Icon=kfocus-bug-gamemode
Keywords=kubuntu;focus;kfocus;game;gamemode;gpu
Name=Game Mode Control
StartupNotify=false
Terminal=false
Type=Application
