[Desktop Entry]
Categories=System;Development;X-Kubuntu-Focus;
Comment=Change default C compiler version
Exec=kfocus-pick-gcc
Icon=kfocus-bug-pick-gcc
Keywords=kubuntu;focus;kfocus;gcc;compiler;switch;kfocus-pick-gcc
Name=C Compiler Switcher
StartupNotify=false
Terminal=false
Type=Application
