[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Configure a secondary disk
Exec=pkexec /usr/lib/kfocus/bin/kfocus-chain-helper-ui
Icon=kfocus-bug-tools
Keywords=
Name=Multi-Disk Configuration Tool
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=KFocus
MimeType=x-scheme-handler/kfocus-mime;application/kfocus-mime;
