[Desktop Entry]
Type=Application
Version=1.0
Name=Install Kubuntu 24.04 LTS (OEM mode)
Exec=sudo -E /usr/bin/calamares-launch-oem
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
