[Desktop Entry]
Type=Application
Version=1.0
Name=Finish OEM preparation
Exec=/usr/bin/calamares-finish-oem
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
