[Desktop Entry]
Name=Kubuntu Focus Chandra

X-KDE-PluginInfo-Name=Kubuntu Focus Chandra
X-KDE-PluginInfo-Author=Chip Taylor
X-KDE-PluginInfo-Email=Kubuntu Focus Support <support@kfocus.org>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
