Source:            kfocus-main
Section:           misc
Priority:          optional
Maintainer:        Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.6.0
Build-Depends:     cmake,
                   debhelper-compat (=13),
                   qtbase5-dev,
                   qtbase5-dev-tools

Package:      kfocus-main
Architecture: any
Pre-Depends:  kfocus-apt-source
Depends:      ${misc:Depends}, ${shlibs:Depends},
              build-essential (>= 12.4),
              cpufrequtils,
              dmidecode (>= 3.1-1),
              hicolor-icon-theme,
              kdialog,
              kfocus-common,
              kfocus-firstrun-bin,
              kfocus-hw,
              kfocus-settings,
              policykit-1,
              python3-pip,
              rsync (>= 3.1.2),
              zenity
Recommends:   backintime-qt,
              kfocus-meta,
              kfocus-power-bin,
              kfocus-qwe,
              kfocus-tools-other | kfocus-tools | kfocus-tools-nxg1,
              kio-admin,
              linux-generic-hwe-24.04-kfocus,
              linux-tools-generic-hwe-24.04-kfocus,
              memtest86+,
              vlc,
              xserver-xorg-input-evdev,
              xserver-xorg-input-synaptics
Conflicts:    kfocus-rest (<< ${binary:Version})
Replaces:     kfocus-rest (<< ${binary:Version})
Description:  Kubuntu Focus Hardware Optimizations
 This package provides hardware optimizations and requirements
 for Kubuntu Focus computers. This also includes the Welcome
 Wizard and FocusRx.

# Replacements 2024-04-11
# exfat-utils => exfatprogs
#   exfat-fuse is no longer needed as of kernel 5.7
#   https://askubuntu.com/questions/1403900
# vulkan-utils => vulkan-tools
#   https://answers.launchpad.net/ubuntu/+question/696491
#
Package:      kfocus-meta
Architecture: all
# To keep wslu from getting installed, see
# https://bugs.launchpad.net/ubuntu/+source/wslu/+bug/2060898
Pre-Depends:  w3m
Depends:      ${misc:Depends},
              kfocus-common
Recommends:   unattended-upgrades,
              apt-rollback,
              apt-file,
              aptitude,
              audacity,
              awscli,
              chrome-remote-desktop,
              curl,
              darktable,
              dia,
              diffpdf,
              dolphin-plugins,
              exfatprogs,
              ffmpeg,
              gimp,
              gimp-data-extras,
              gimp-help-en,
              git,
              gstreamer1.0-plugins-bad,
              gstreamer1.0-plugins-ugly,
              haskell-platform,
              htop,
              hwinfo,
              inkscape,
              jetbrains-toolbox,
              google-chrome-stable,
              kdenlive,
              kdiff3,
              kio-admin,
              kio-extras,
              keepassxc,
              kfind,
              kleopatra,
              kruler,
              libreoffice-base,
              libxcb-xtest0,
              libxvidcore4,
              meld,
              mesa-utils,
              mtp-tools,
              neofetch,
              net-tools,
              nvme-cli,
              obs-studio,
              openssh-server,
              openvpn,
              optipng,
              pavucontrol-qt,
              pciutils,
              p7zip-full,
              p7zip-rar,
              pandoc,
              pandoc-citeproc,
              pdfarranger,
              powertop,
              ppa-purge,
              python3-gpg,
              python3-pip,
              rar,
              rename,
              scdaemon,
              sdparm,
              shellcheck,
              simplescreenrecorder,
              sqlite,
              steam-installer,
              sysstat,
              texlive,
              tmux,
              trash-cli,
              tree,
              vdpau-driver-all,
              vdpauinfo,
              vim-gtk,
              vim-nox,
              vim-syntax-gtk,
              libvulkan1,
              libvulkan1:i386,
              vulkan-tools,
              wajig,
              webcamoid,
              winff-qt,
              x264,
              xsel
Description:  Kubuntu Focus Curated Apps Metapackage
 This metapackage provides curated apps for Kubuntu Focus laptops.

Package:      kfocus-common
Architecture: all
Depends:      ${misc:Depends},
              kdialog
Description:  Kubuntu Focus Common Libraries
 This package provides the common libraries and custom menu
 for Kubuntu Focus Tools.

Package:      kfocus-power-scripts
Architecture: all
Depends:      ${misc:Depends}, ${shlibs:Depends},
              kfocus-power-bin
Description:  Transitional Dummy Package for kfocus-power-bin
 This is a transitional dummy package.
 It can be safely removed.
