Source:            kfocus-main
Section:           misc
Maintainer:        Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.7.3
Build-Depends:     cmake,
                   debhelper-compat (=13),
                   qt6-base-dev,
                   qt6-base-dev-tools

Package:      kfocus-main
Architecture: any
Pre-Depends:  kfocus-apt-source
Depends:      ${misc:Depends}, ${shlibs:Depends},
              build-essential (>= 12.4),
              colorized-logs,
              cpufrequtils,
              curl,
              dconf-cli,
              dmidecode (>= 3.1-1),
              hicolor-icon-theme,
              jq,
              kdialog,
              kfocus-common,
              kfocus-firstrun-bin,
              kfocus-hw,
              kfocus-settings,
              kfocus-wallpapers,
              libspa-0.2-libcamera,
              linux-kfocus-24.04-kfocus,
              linux-tools-kfocus-24.04-kfocus,
              polkitd,
              python3-pip,
              rsync (>= 3.1.2),
              xterm,
              zenity
Recommends:   backintime-qt,
              kfocus-meta,
              kfocus-power-bin,
              kfocus-qwe,
              kfocus-tools-other | kfocus-tools | kfocus-tools-nxg1 | kfocus-tools-m2g6,
              kio-admin,
              memtest86+,
              vlc,
              xserver-xorg-input-evdev,
              xserver-xorg-input-synaptics
Description:  Kubuntu Focus System Integration
 This package provides hardware integration and optimizations
 for Kubuntu Focus computers. This includes Kubuntu Focus
 Tools like the Welcome Wizard, System Rollback, and FocusRx.

# Replacements 2024-04-11
# exfat-utils => exfatprogs
#   exfat-fuse is no longer needed as of kernel 5.7
#   https://askubuntu.com/questions/1403900
# vulkan-utils => vulkan-tools
#   https://answers.launchpad.net/ubuntu/+question/696491
#
Package:      kfocus-meta
Architecture: all
# To keep wslu from getting installed, see
# https://bugs.launchpad.net/ubuntu/+source/wslu/+bug/2060898
Pre-Depends:  w3m
Depends:      ${misc:Depends},
              kfocus-common
Recommends:   7zip,
              7zip-rar,
              apt-file,
              aptitude,
              apt-rollback,
              audacity,
              chrome-remote-desktop,
              darktable,
              dia,
              diffpdf,
              dolphin-plugins,
              exfatprogs,
              fastfetch,
              ffmpeg,
              gimp,
              gimp-data-extras,
              gimp-help-en,
              git,
              google-chrome-stable,
              gstreamer1.0-plugins-bad,
              gstreamer1.0-plugins-ugly,
              htop,
              hwinfo,
              inkscape,
              kdenlive,
              kdiff3,
              keepassxc,
              kfind,
              kio-admin,
              kio-extras,
              kleopatra,
              kruler,
              libreoffice-base,
              libvulkan1,
              libvulkan1:i386,
              libxcb-xtest0,
              libxvidcore4,
              meld,
              mesa-utils,
              mtp-tools,
              net-tools,
              network-manager-openvpn,
              nvme-cli,
              obs-studio,
              openssh-server,
              openvpn,
              optipng,
              pandoc,
              pandoc-citeproc,
              pavucontrol-qt,
              pciutils,
              pdfarranger,
              powertop,
              ppa-purge,
              python3-gpg,
              python3-pip,
              rar,
              rename,
              scdaemon,
              sdparm,
              shellcheck,
              sqlite3-tools,
              steam-installer,
              synaptic,
              sysstat,
              tmux,
              trash-cli,
              tree,
              unattended-upgrades,
              vdpauinfo,
              vim-gtk3,
              vim-nox,
              vim-syntax-gtk,
              vpnc-scripts,
              vulkan-tools,
              webcamoid,
              winff-qt,
              wl-clipboard,
              x264,
              xsel
Description:  Kubuntu Focus Curated Apps Metapackage
 This metapackage provides curated apps for Kubuntu Focus laptops.

Package:      kfocus-common
Architecture: all
Depends:      ${misc:Depends},
              kdialog
Description:  Kubuntu Focus Common Libraries
 This package provides the common libraries and custom menu
 for Kubuntu Focus Tools.
