[Unit]
Description=Kubuntu Focus Before-Display-Manager Actions
Before=display-manager.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c 'if [ -f /sys/devices/virtual/dmi/id/product_name ]; then prod_id=$(cat /sys/devices/virtual/dmi/id/product_name); if [ "${prod_id,0,18}" = "PD5x_7xPNP_PNN_PNT" ]; then echo "Pause 1s"; sleep 1; fi; fi'

[Install]
WantedBy=multi-user.target
