#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir src/kfocus-focusrx-dbus-dispatch/build
	cmake -S src/kfocus-focusrx-dbus-dispatch -B src/kfocus-focusrx-dbus-dispatch/build -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=$(CURDIR)/debian/kfocus-main/usr/
	(cd src/kfocus-focusrx-dbus-dispatch/build && $(MAKE))
	dh_auto_build

override_dh_auto_install:
	(cd src/kfocus-focusrx-dbus-dispatch/build && $(MAKE) install)
	dh_auto_install
