[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Fan and Power Profile Manager
Exec=qmlscene /usr/lib/kfocus/qml/main.qml
GenericName=Fan and Power Profile Manager
Icon=kfocus-bug-power
Name=Power Profile Utility
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-ServiceName=love.nicco.power.desktop
X-DBUS-StartupType=Multi

