*.swp
$CACHE_FILE$
.env
.git
.idea
bin/
build.d/
package-*/usr/share/doc/
test/test-data/run/
test/test-tmp/
package-*/debian/kfocus-*/*
package-*/debian/*.substvars
package-*/debian/files
package-*/debian/debhelper-build-stamp
package-*/debian/.debhelper
kfocus-*.build
kfocus-*.buildinfo
kfocus-*.changes
kfocus-*.dsc
kfocus-*.tar.xz
kfocus-*.tar.gz
*.debhelper
oem-config*.deb
*.udeb
ubiquity*.deb
ubiquity*.ddeb
ubiquity*.dsc
ubiquity*.tar.xz
ubiquity*.changes
ubiquity*.build*
*.upload
build-kfocus-welcome-bin-Desktop-Debug
package-welcome-bin/kfocus-welcome-bin.pro.user
