*.swp
$CACHE_FILE$
*.debhelper
*.udeb
*.upload
/.env
/.git
/.idea
/bin/
/build.d/
/build.d.uploaded/
/kfocus-*.build
/kfocus-*.buildinfo
/kfocus-*.changes
/kfocus-*.dsc
/kfocus-*.tar.gz
/kfocus-*.tar.xz
/package-*/debian/*.substvars
/package-*/debian/.debhelper
/package-*/debian/debhelper-build-stamp
/package-*/debian/files
/package-*/debian/kfocus-*/*
/package-*/usr/share/doc/
/package-firstrun-bin/build/*
/package-power-bin/build/*
/package-welcome-bin/build-kfocus-welcome-bin-Desktop-Debug
/package-welcome-bin/kfocus-welcome-bin.pro.user
/package-firstrun-bin/.idea/
/package-firstrun-bin/cmake-build-debug/
/test/test-data/run/
/test/test-tmp/
TODO/*
oem-config*.deb
ubiquity*.build*
ubiquity*.changes
ubiquity*.ddeb
ubiquity*.deb
ubiquity*.dsc
ubiquity*.tar.xz
package-rollback/src/kfocus-btrfs-reclaim-space/kfocus-btrfs-reclaim-space
package-rollback/src/kfocus-report-filefrag/kfocus-report-filefrag
package-rollback/usr/lib/kfocus/bin/kfocus-report-filefrag
