[Desktop Entry]
Name=True Video Wall
Name[bs]=Video zid
Name[ca]=Verdadero Mur de vídeo
Name[ca@valencia]=Verdadero Mur de vídeo
Name[cs]=Video stěna
Name[da]=Videovæg
Name[de]=Video-Wand
Name[el]=Τοίχος με οθόνες
Name[en_GB]=True Video Wall
Name[es]=Verdadero Panel de vídeo
Name[et]=Videosein
Name[eu]=Bideo-horma
Name[fi]=Videoseinä
Name[fr]=Vrai Mur de vidéos
Name[ga]=Balla Físe
Name[gl]=Parede de vídeo
Name[he]=חלון וידאו
Name[hu]=Videófal
Name[ia]=Muro de Video
Name[it]=Parete video
Name[kk]=Бейне қабырға
Name[km]=ផ្ទាំង​វីដេអូ
Name[ko]=동영상 벽
Name[lt]=Video siena
Name[mr]=व्हिडीओ भिंत
Name[nb]=Videovegg
Name[nds]=Videowand
Name[nl]=Videomuur
Name[pa]=ਵਿਡੀਓ ਕੰਧ
Name[pl]=Ściana wideo
Name[pt]=Verdadeiro Painel de Vídeo
Name[pt_BR]=Verdadeiro Painel de vídeo
Name[ro]=Perete video
Name[ru]=Видеостена
Name[sk]=Video stena
Name[sl]=Video zid
Name[sr]=Видео зид
Name[sr@ijekavian]=Видео зид
Name[sr@ijekavianlatin]=Video zid
Name[sr@latin]=Video zid
Name[sv]=Videovägg
Name[tr]=Video Duvarı
Name[uk]=Відеостіна
Name[x-test]=xxVideo Wallxx
Name[zh_CN]=视频墙
Name[zh_TW]=影像牆
Comment=Spans all fullscreen apps over all attached screens
Comment[fr]=Étend toutes les applications en mode plein écran sur l'ensemble des écrans connectés afin de créer un mur d'images
Comment[pt]=Espalha os applicativos em tela cheia em todos os ecrãs ligados
Comment[x-test]=xxSpans all fullscreen apps over all attached screensxx
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=José Jorge
X-KDE-PluginInfo-Email=lists.jjorge@free.fr
X-KDE-PluginInfo-Name=truevideowall
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
