Source:            kfocus-rest
Section:           metapackages
Priority:          optional
Maintainer:        Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.6.0
Build-Depends:     debhelper-compat (=13)

Package:      kfocus-rest
Architecture: all
Depends:      ${misc:Depends}, ${shlibs:depends},
              kfocus-main (>= ${binary:Version})
Description:  Transitional Dummy Package for kfocus-rest
 This is a transitional dummy package.
 It can be safely removed.
