Source: linux-meta-hwe-6.2-kfocus
Section: devel
Priority: optional
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Standards-Version: 3.9.8
Build-Depends: dpkg (>= 1.13.19), debhelper (>= 11), gawk, kmod
Build-Depends-Arch:
 linux-hwe-6.2-headers-6.2.0-31,
 linux-headers-6.2.0-31-generic,
 linux-modules-6.2.0-31-generic,
Vcs-Git: git://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux-meta/+git/jammy

Package: linux-headers-generic-hwe-22.04-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Replaces: linux-headers-generic-hwe-22.04, linux-headers-oem-22.04a-kfocus
Conflicts: linux-headers-generic-hwe-22.04, linux-headers-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-headers-${kernel-abi-version}-generic
Description: Generic Linux kernel headers
 This package will always depend on the latest generic kernel headers
 available.

Package: linux-image-generic-hwe-22.04-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Provides: ${dkms:v4l2loopback-modules} ${dkms:zfs-modules} ${dkms:virtualbox-guest-modules} ${dkms:wireguard-linux-compat-modules}
Replaces: linux-image-generic-hwe-22.04, linux-image-oem-22.04a-kfocus
Conflicts: linux-image-generic-hwe-22.04, linux-image-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-image-${kernel-abi-version}-generic, linux-modules-extra-${kernel-abi-version}-generic [amd64 arm64 powerpc ppc64el s390x], linux-firmware [amd64 armhf arm64 ppc64el], intel-microcode [amd64], amd64-microcode [amd64]
Recommends: thermald [amd64]
Description: Generic Linux kernel image
 This package will always depend on the latest generic kernel image
 available.

Package: linux-tools-generic-hwe-22.04-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Provides: linux-tools
Replaces: linux-tools-generic-hwe-22.04, linux-tools-oem-22.04a-kfocus
Conflicts: linux-tools-generic-hwe-22.04, linux-tools-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-tools-${kernel-abi-version}-generic
Description: Generic Linux kernel tools
 This package will always depend on the latest generic kernel tools
 available.

Package: linux-cloud-tools-generic-hwe-22.04-kfocus
Architecture: amd64
Section: kernel
Provides: linux-cloud-tools
Replaces: linux-cloud-tools-generic-hwe-22.04
Conflicts: linux-cloud-tools-generic-hwe-22.04
Depends: ${misc:Depends}, linux-cloud-tools-${kernel-abi-version}-generic
Description: Generic Linux kernel cloud tools
 This package will always depend on the latest generic kernel cloud tools
 available.

Package: linux-generic-hwe-22.04-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Provides: kernel-testing--linux-hwe-6.2-kfocus--full--generic, kernel-testing--linux-hwe-6.2-kfocus--full--preferred,
Replaces: linux-generic-hwe-22.04, linux-oem-22.04a-kfocus
Conflicts: linux-generic-hwe-22.04, linux-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-image-generic-hwe-22.04-kfocus (= ${binary:Version}), linux-headers-generic-hwe-22.04-kfocus (= ${binary:Version})
Description: Complete Generic Linux kernel and headers
 This package will always depend on the latest complete generic Linux kernel
 and headers.


Package: linux-headers-generic-hwe-22.04-edge-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Replaces: linux-headers-generic-hwe-22.04-edge, linux-headers-oem-22.04a-kfocus
Conflicts: linux-headers-generic-hwe-22.04-edge, linux-headers-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-headers-${kernel-abi-version}-generic
Description: Generic Linux kernel headers
 This package will always depend on the latest generic kernel headers
 available.

Package: linux-image-generic-hwe-22.04-edge-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Provides: ${dkms:v4l2loopback-modules} ${dkms:zfs-modules} ${dkms:virtualbox-guest-modules} ${dkms:wireguard-linux-compat-modules}
Replaces: linux-image-generic-hwe-22.04-edge, linux-image-oem-22.04a-kfocus
Conflicts: linux-image-generic-hwe-22.04-edge, linux-image-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-image-${kernel-abi-version}-generic, linux-modules-extra-${kernel-abi-version}-generic [amd64 arm64 powerpc ppc64el s390x], linux-firmware [amd64 armhf arm64 ppc64el], intel-microcode [amd64], amd64-microcode [amd64]
Recommends: thermald [amd64]
Description: Generic Linux kernel image
 This package will always depend on the latest generic kernel image
 available.

Package: linux-tools-generic-hwe-22.04-edge-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Provides: linux-tools
Replaces: linux-tools-generic-hwe-22.04-edge, linux-tools-oem-22.04a-kfocus
Conflicts: linux-tools-generic-hwe-22.04-edge, linux-tools-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-tools-${kernel-abi-version}-generic
Description: Generic Linux kernel tools
 This package will always depend on the latest generic kernel tools
 available.

Package: linux-cloud-tools-generic-hwe-22.04-edge-kfocus
Architecture: amd64
Section: kernel
Provides: linux-cloud-tools
Replaces: linux-cloud-tools-generic-hwe-22.04-edge
Conflicts: linux-cloud-tools-generic-hwe-22.04-edge
Depends: ${misc:Depends}, linux-cloud-tools-${kernel-abi-version}-generic
Description: Generic Linux kernel cloud tools
 This package will always depend on the latest generic kernel cloud tools
 available.

Package: linux-generic-hwe-22.04-edge-kfocus
Architecture: amd64 armhf arm64 powerpc ppc64el s390x
Section: kernel
Provides:  
Replaces: linux-generic-hwe-22.04-edge, linux-oem-22.04a-kfocus
Conflicts: linux-generic-hwe-22.04-edge, linux-oem-22.04a-kfocus
Depends: ${misc:Depends}, linux-image-generic-hwe-22.04-edge-kfocus (= ${binary:Version}), linux-headers-generic-hwe-22.04-edge-kfocus (= ${binary:Version})
Description: Complete Generic Linux kernel and headers
 This package will always depend on the latest complete generic Linux kernel
 and headers.



Package: linux-modules-ipu6-generic-hwe-22.04
Architecture: amd64
Section: kernel
Provides: ${dkms:ipu6-modules}
Depends:
 ${misc:Depends},
 linux-modules-ipu6-${kernel-abi-version}-generic,
Description: Extra drivers for ipu6 for the generic flavour
 Install extra signed ipu6 modules compatible with the generic flavour.


Package: linux-modules-ipu6-generic-hwe-22.04-edge
Architecture: amd64
Section: kernel
Provides: ${dkms:ipu6-modules}
Depends:
 ${misc:Depends},
 linux-modules-ipu6-${kernel-abi-version}-generic,
Description: Extra drivers for ipu6 for the generic flavour
 Install extra signed ipu6 modules compatible with the generic flavour.


Package: linux-modules-ivsc-generic-hwe-22.04
Architecture: amd64
Section: kernel
Provides: ${dkms:ivsc-modules}
Depends:
 ${misc:Depends},
 linux-modules-ivsc-${kernel-abi-version}-generic,
Description: Extra drivers for ivsc for the generic flavour
 Install extra signed ivsc modules compatible with the generic flavour.


Package: linux-modules-ivsc-generic-hwe-22.04-edge
Architecture: amd64
Section: kernel
Provides: ${dkms:ivsc-modules}
Depends:
 ${misc:Depends},
 linux-modules-ivsc-${kernel-abi-version}-generic,
Description: Extra drivers for ivsc for the generic flavour
 Install extra signed ivsc modules compatible with the generic flavour.


Package: linux-modules-iwlwifi-generic-hwe-22.04
Architecture: amd64
Section: kernel
Provides: ${dkms:iwlwifi-modules}
Depends:
 ${misc:Depends},
 linux-modules-iwlwifi-${kernel-abi-version}-generic,
Description: Extra drivers for iwlwifi for the generic flavour
 Install extra signed iwlwifi modules compatible with the generic flavour.


Package: linux-modules-iwlwifi-generic-hwe-22.04-edge
Architecture: amd64
Section: kernel
Provides: ${dkms:iwlwifi-modules}
Depends:
 ${misc:Depends},
 linux-modules-iwlwifi-${kernel-abi-version}-generic,
Description: Extra drivers for iwlwifi for the generic flavour
 Install extra signed iwlwifi modules compatible with the generic flavour.

