Source: linux-meta-kfocus
Section: devel
Priority: optional
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Standards-Version: 3.9.8
Build-Depends: dpkg (>= 1.13.19), debhelper (>= 11), gawk
Build-Depends-Arch:
 linux-kfocus-headers-7.0.0-27,
 linux-headers-7.0.0-27-kfocus,
Vcs-Git: https://github.com/kfocus/kfocus-source.git

Package: linux-headers-kfocus-26.04-kfocus
Architecture: amd64
Section: kernel
Conflicts: linux-headers-kfocus-26.04
Replaces: linux-headers-kfocus-26.04
Depends:
 ${misc:Depends},
 linux-headers-${kernel-abi-version}-kfocus,
Description: KFocus Linux kernel headers
 This package will always depend on the latest KFocus kernel headers
 available.

Package: linux-image-kfocus-26.04-kfocus
Architecture: amd64
Section: kernel
Conflicts:
 linux-image-fb-kfocus-26.04-kfocus,
 linux-image-kfocus-26.04,
Replaces:
 linux-image-kfocus-26.04,
Provides: ${dkms:ivsc-modules} ${dkms:virtualbox-guest-modules} ${dkms:wireguard-linux-compat-modules} ${dkms:ipu6-modules}
Depends: ${misc:Depends},
 linux-image-unsigned-${kernel-abi-version}-kfocus,
 linux-modules-${kernel-abi-version}-kfocus [amd64],
 linux-firmware [amd64],
 intel-microcode [amd64],
 amd64-microcode [amd64]
Recommends: thermald [amd64]
Description: KFocus Linux kernel image
 This package will always depend on the latest KFocus kernel image
 available.

Package: linux-image-uc-kfocus-26.04-kfocus
Architecture: amd64
Section: kernel
Conflicts:
 linux-image-uc-kfocus-26.04
Replaces:
 linux-image-uc-kfocus-26.04
Depends:
 ${misc:Depends},
 linux-image-uc-${kernel-abi-version}-kfocus,
 linux-modules-${kernel-abi-version}-kfocus,
 linux-firmware,
 firmware-sof-signed [amd64],
 wireless-regdb
Description: KFocus Linux kernel image for Ubuntu Core
 This package will always depend on the latest KFocus kernel image
 available.
 .
 This kernel is suitable for staging into a kernel snap, and is not
 suitable to be used directly on classic systems.

Package: linux-tools-kfocus-26.04-kfocus
Architecture: amd64
Section: kernel
Provides:
 linux-tools
Conflicts: linux-tools-kfocus-26.04
Replaces: linux-tools-kfocus-26.04
Depends: ${misc:Depends},
 linux-tools-${kernel-abi-version}-kfocus
Description: KFocus Linux kernel tools
 This package will always depend on the latest KFocus kernel tools
 available.

Package: linux-kfocus-26.04-kfocus
Architecture: amd64
Section: kernel
Provides:
 kernel-testing--linux-kfocus--full--kfocus, kernel-testing--linux-kfocus--full--preferred,,
Conflicts: linux-kfocus-26.04
Replaces: linux-kfocus-26.04
Depends:
 ${misc:Depends},
 linux-image-kfocus-26.04-kfocus (= ${binary:Version}),
 linux-headers-kfocus-26.04-kfocus (= ${binary:Version})
Recommends: linux-tools-${kernel-abi-version}-kfocus, ubuntu-kernel-accessories
Description: Complete KFocus Linux kernel and headers
 This package will always depend on the latest complete KFocus Linux kernel
 and headers.


