[SddmGreeterTheme]
Name=KFocus
Description=Breeze theme with Kubuntu branding and KFocus customizations.
Author=Scarlett Moore and Aaron Rainbolt
Copyright=KDE Visual Design Group
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=kfocus
