Source: qwe
Section: admin
Priority: optional
Maintainer: Kubuntu Focus Support <support@kfocus.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://kfocus.org
Rules-Requires-Root: no

Package: qwe
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         bash-completion
Description: Command line bookmarks with autocomplete
 <insert long description, indented with spaces>

