Source: kfocus-qwe
Section: admin
Maintainer: Kubuntu Focus Support <support@kfocus.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.3
Homepage: https://kfocus.org

Package: kfocus-qwe
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         bash-completion
Description: Kubuntu Focus CLI Bookmarks with Autocomplete
 QWE has been adopted as a standard CLI utility for Kubuntu Focus
 systems and is available with the kfocus-qwe package from their
 ppa. Upstream is git@github.com:kfocus/qwe.git which is a fork of
 git@github.com/olafurw/qwe. The original concept and code was
 provided by Ólafur Waage, and then refactored and enhanced by
 Michael Mikowski.
