[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Review and adjust power settings
Exec=/usr/lib/kfocus/bin/kfocus-power
GenericName=KFocus Power and Fan
Icon=kfocus-bug-power
Keywords=kubuntu;focus;kfocus;power;setup;profile;fan;brightness;fans;frequency;screen brightness
Name=KFocus Power and Fan
StartupNotify=false
Terminal=false
Type=Application
# These are suggestions from nicco when run as qmlscene main.qml
# X-DBUS-ServiceName=kfocus.power.desktop
# X-DBUS-StartupType=Multi

