Source: kfocus-apt-source
Section: metapackages
Priority: optional
Maintainer: Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.6.0
Build-Depends:     debhelper-compat (=13)

Package: kfocus-apt-source
Architecture: all
Depends: ${misc:Depends}, gnupg
Recommends: kfocus-nvidia-pinning
Description: Kubuntu Focus Recommended Repositories
 This package adds the Kubuntu Focus repositories as prescribed for
 Kubuntu Focus laptops.
