[Desktop Entry]
Name=Kubuntu Focus
Comment=Default Kubuntu Focus theme

X-KDE-PluginInfo-Author=Kubuntu Focus Developers
X-KDE-PluginInfo-Email=support@kfocus.org
X-KDE-PluginInfo-Name=kubuntu-focus
X-KDE-PluginInfo-Version=20.04.1
X-KDE-PluginInfo-Website=http://kfocus.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=Next
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080

[Icons]
Theme=breeze-dark

[ContrastEffect]
enabled=true
contrast=0.2
intensity=0.4
saturation=1.7
