Source:              kfocus-power-bin
Section:             admin
Priority:            optional
Maintainer:          Kubuntu Focus Team <support@kfocus.org>
Standards-Version:   4.6.0
Build-Depends:       debhelper-compat (=13),
                     qtdeclarative5-dev,
                     qtbase5-dev,
                     qtquickcontrols2-5-dev
Rules-Requires-Root: no

Package:      kfocus-power-bin
Architecture: amd64
Depends:      ${misc:Depends},
              ${shlibs:Depends},
              kfocus-common,
              cpufrequtils,
              hicolor-icon-theme,
              policykit-1,
              qml-module-org-kde-kirigami2,
              plasma-framework
Conflicts:    kfocus-power         (<< ${binary:Version}),
              kfocus-fan           (<< ${binary:Version}),
              kfocus-power-scripts (<< ${binary:Version})
Replaces:     kfocus-power         (<< ${binary:Version}),
              kfocus-fan           (<< ${binary:Version}),
              kfocus-power-scripts (<< ${binary:Version})
Description: Utility to change power and fan settings
 This utility is available to switch between several power profiles, processor
 frequency settings, and fan settings.
