[Desktop Entry]
Categories=System;Documentation;X-Kubuntu-Focus;
Comment=View welcome guide in browser
Exec=/usr/lib/kfocus/bin/kfocus-web-launcher --new-window "https://docs.google.com/presentation/d/e/2PACX-1vTsKGkzy_tFm2xZo-BYX7mqeLG43C2vy108qsWZ2L_c4XJGXEVh2fAt3sNvgiqXfw4OFPWynHS-32xx/pub?start=false&loop=false&delayms=3000"
Icon=kfocus-bug-welcome
Keywords=kubuntu;focus;kfocus;features;slideshow;slides
Name=Welcome Guide
StartupNotify=true
Terminal=false
Type=Application
