[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Reset Effects and Power Config to Defaults
Exec=/usr/lib/kfocus/bin/kfocus-reset-effects
Icon=kfocus-bug-kclean
Keywords=kubuntu;focus;kfocus;defaults;effects;reset
Name=KFocus Reset Defaults
StartupNotify=false
Terminal=false
Type=Application

