[Desktop Entry]
Categories=System;Documentation;X-Kubuntu-Focus;
Comment=Basic help and resources for Kubuntu Focus
Exec=/usr/lib/kfocus/bin/kfocus-web-launcher --new-window https://kfocus.org/wf/help.html
Icon=kfocus-bug-help
Keywords=kubuntu;focus;kfocus;help;getting started;resources
Name=Reference Pages
StartupNotify=true
Terminal=false
Type=Application
