[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Select tools and settings for your workflow
Exec=/usr/lib/kfocus/bin/kfocus-firstrun-bin -f
Icon=kfocus-bug-wizard
Keywords=kubuntu;focus;kfocus;welcome;setup;first-run;firstrun;wizard;kfocus-firstrun-bin
Name=Welcome Wizard
StartupNotify=false
Terminal=false
Type=Application

