[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Install extra optional software
Exec=pkexec kfocus-extra
Icon=kfocus-bug-extra
Keywords=kubuntu;focus;kfocus;extras;package;install
Name=Extra Software Installer
StartupNotify=false
Terminal=true
Type=Application

