[Desktop Entry]
Name=FocusRx Rollback
Categories=System;X-Kubuntu-Focus;
Comment=Kubuntu Focus Rollback
Exec=/usr/lib/kfocus/bin/kfocus-rollback
Icon=kfocus-bug-rx
Keywords=kubuntu focus;kfocus;focusrx;rollback;snapshot
StartupNotify=false
Terminal=false
Type=Application

