[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Remove unused and old kernel files
Exec=/usr/lib/kfocus/bin/kfocus-kclean -f
Icon=kfocus-bug-kclean
Keywords=kubuntu;focus;kfocus;fixup;kernels;cleanup
Name=Kernel Cleaner
StartupNotify=true
Terminal=false
Type=Application

