[Desktop Entry]
Name=FocusRx Snapshot
Categories=System;X-Kubuntu-Focus;
Comment=Kubuntu Focus Snapshot
Exec=/usr/lib/kfocus/bin/kfocus-snapshot
Icon=kfocus-bug-rx
Keywords=kubuntu focus;kfocus;focusrx;rollback;snapshot
StartupNotify=false
Terminal=false
Type=Application

