[Desktop Entry]
Name=FocusRx System Repair
Categories=System;X-Kubuntu-Focus;
Comment=System maintenance and repair
Exec=/usr/lib/kfocus/bin/kfocus-focusrx -f
Icon=kfocus-bug-rx
Keywords=kubuntu;focus;kfocus;repair;recovery;focusrx
StartupNotify=false
Terminal=false
Type=Application

