[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Run the welcome wizard again
Exec=/usr/lib/kfocus/bin/kfocus-firstrun-bin -f
Icon=kfocus-bug-wizard
Keywords=kubuntu;focus;kfocus;welcome;setup;first-run;firstrun;wizard
Name=Welcome Wizard
StartupNotify=false
Terminal=false
Type=Application

