[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Change encrypted disk passphrases
Exec=/usr/lib/kfocus/bin/kfocus-firstrun-bin -f diskPassphraseItem
Icon=kfocus-bug-passphrase
Keywords=kubuntu;focus;kfocus;passphrase;encryption;luks;disk;password
Name=Disk Passphrase Changer
StartupNotify=false
Terminal=false
Type=Application

