[Desktop Entry]
Categories=System;Documentation;X-Kubuntu-Focus;
Comment=View curated apps in browser
Exec=/usr/lib/kfocus/bin/kfocus-web-launcher --new-window https://kfocus.org/wf/apps.html
Icon=kfocus-bug-apps
Keywords=kubuntu;focus;kfocus;curated apps;recommended apps
Name=Curated Apps
StartupNotify=true
Terminal=false
Type=Application

