[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=Open Kubuntu Focus mime-types
Exec=/usr/bin/kfocus-mime %U
Icon=kfocus-bug
Keywords=
Name=KFocus App Launcher
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=KFocus
MimeType=x-scheme-handler/kfocus-mime;application/kfocus-mime;
NoDisplay=true
