[Desktop Entry]
Categories=System;Documentation;X-Kubuntu-Focus;
Comment=View guided solutions in browser
Exec=/usr/lib/kfocus/bin/kfocus-web-launcher --new-window https://kfocus.org/support/wf
Icon=kfocus-bug-guided
Keywords=kubuntu;focus;kfocus;workflow;guided;solution;features
Name=Guided Solutions
StartupNotify=true
Terminal=false
Type=Application
