[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=(Re)create default desktop widgets
Exec=/usr/lib/kfocus/bin/kfocus-reset-widgets
Icon=kfocus-bug-widget
Keywords=kubuntu;focus;kfocus;reset;desktop;widget;widgets;kfocus-desktop-widgets
Name=Reset Desktop Widgets
StartupNotify=false
Terminal=false
Type=Application

