[Desktop Entry]
Categories=System;X-Kubuntu-Focus;
Comment=KFocus URL file handler
Exec=/usr/lib/kfocus/bin/kfocus-open-url-file %U
Icon=application-x-mswinurl
Keywords=url,windows,windows url
Name=KFocus URL file handler
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=KFocus
MimeType=application/x-mswinurl;
NoDisplay=true
