[Unit]
Description=Adjusts GPU power consumption for KFocus Panther Lake systems

[Service]
Type=exec
ExecStart=/usr/lib/kfocus/bin/kfocus-pl-gpuboost-set service

# No Install section, this should never automatically start.
