[Desktop Entry]
Name=System Rollback Dashboard
Categories=System;X-Kubuntu-Focus;
Comment=Create, manage, restore coherent system snapshots
Exec=/usr/lib/kfocus/bin/kfocus-rollback
Icon=kfocus-bug-rollback
Keywords=kubuntu;focus;kfocus;rollback;snapshot;kfocus-rollback
StartupNotify=false
Terminal=false
Type=Application

