[Desktop Entry]
Name=Drive Optimizer
Categories=System;X-Kubuntu-Focus;
Comment=Free up space and enhance disk performance on Kubuntu Focus systems
Exec=/usr/lib/kfocus/bin/kfocus-btrfs-optimize
Icon=kfocus-bug-rx
Keywords=kubuntu focus;kfocus;focusrx;btrfs;optimize
StartupNotify=false
Terminal=false
Type=Application

