[Desktop Entry]
Name=System Rollback Dashboard
Categories=System;X-Kubuntu-Focus;
Comment=Roll back the system to an earlier point in time
Exec=/usr/lib/kfocus/bin/kfocus-rollback
Icon=kfocus-bug-rollback
Keywords=kubuntu;focus;kfocus;rollback;snapshot;kfocus-rollback
StartupNotify=false
Terminal=false
Type=Application

