Source:            kfocus-rollback
Section:           misc
Priority:          optional
Maintainer:        Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.6.0
Build-Depends:     debhelper-compat (=13),
                   libext2fs-dev

Package:      kfocus-rollback
Architecture: any
Depends:      ${misc:Depends}, ${shlibs:Depends},
              btdu,
              kdialog,
              kfocus-main,
              kio-admin,
              python3-btrfs,
              whiptail
Description:  Kubuntu Focus Hardware Optimizations
 This package provides advanced, user-friendly system snapshotting and
 rollback tools for Kubuntu Focus computers.
