Source:              kfocus-firstrun-bin
Section:             admin
Maintainer:          Kubuntu Focus Team <support@kfocus.org>
Standards-Version:   4.7.3
Build-Depends:       debhelper-compat (=13),
                     libkirigami-dev,
                     libkf6coreaddons-dev,
                     libkf6qqc2desktopstyle-dev,
                     libkf6iconthemes-dev,
                     libkf6i18n-dev,
                     extra-cmake-modules
Rules-Requires-Root: no

Package:      kfocus-firstrun-bin
Architecture: amd64
Depends:      ${misc:Depends},
              ${shlibs:Depends},
              kfocus-common,
              kfocus-main,
              breeze-icon-theme,
              policykit-1,
              qml6-module-org-kde-kirigami,
              plasma-framework
Recommends:   plasma-welcome
Description: Kubuntu Focus Welcome Wizard.
 This tools guides the user on initial login.
 Internally, it is known as the FirstRun Wizard.
