Source:              kfocus-firstrun-bin
Section:             admin
Maintainer:          Kubuntu Focus Team <support@kfocus.org>
Standards-Version:   4.7.3
Build-Depends:       debhelper-compat (=13),
                     cmake,
                     extra-cmake-modules,
                     libkirigami-dev,
                     libkf6i18n-dev,
                     libkf6coreaddons-dev,
                     libkf6iconthemes-dev,
                     qt6-base-dev,
                     qt6-declarative-dev,
                     libkf6qqc2desktopstyle-dev
Rules-Requires-Root: no

Package:      kfocus-firstrun-bin
Architecture: amd64
Depends:      ${misc:Depends},
              ${shlibs:Depends},
              kfocus-common,
              kfocus-main,
              breeze-icon-theme,
              polkitd,
              libkf6kcmutils-bin,
Recommends:   plasma-welcome
Description: Kubuntu Focus Welcome Wizard.
 This tools guides the user on initial login.
 Internally, it is known as the FirstRun Wizard.
