[Desktop Entry]
Name=FocusRx System Repair
Categories=System;X-Kubuntu-Focus;
Comment=Kubuntu Focus System Repair and Maintenance
Exec=/usr/bin/kfocus-focusrx-dbus-dispatch
Icon=kfocus-bug-rx
Keywords=kubuntu focus;kfocus;focusrx
StartupNotify=false
Terminal=false
Type=Application

