Source: kfocus-hw
Section: misc
Maintainer: Kubuntu Focus Support <support@kfocus.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.3
Homepage: https://kfocus.org
Rules-Requires-Root: no

Package: kfocus-hw
Architecture: all
Pre-Depends: kfocus-common (>= 22.04.9)
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Kubuntu Focus Hardware Configuration
 This package configures Kubuntu Focus hardware

