Source: kfocus-hw
Section: misc
Priority: optional
Maintainer: Kubuntu Focus Support <support@kfocus.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://kfocus.org
Rules-Requires-Root: no

Package: kfocus-hw
Architecture: all
Pre-Depends: kfocus-common (>= 22.04.9), kfocus-settings (>> 22.04.15)
Depends: ${shlibs:Depends}, ${misc:Depends},
         kfocus-main (>> 22.04.42)
Conflicts: kfocus-main (<< 22.04.3)
Replaces: kfocus-main (<< 22.04.42)
Breaks: kfocus-main (<< 22.04.42)
Description: Kubuntu Focus Hardware Configuration
 This package configures Kubuntu Focus hardware
