Source:            kfocus-nvidia
Section:           metapackages
Priority:          optional
Maintainer:        Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.6.0
Build-Depends:     debhelper-compat (=13)

Package:      kfocus-nvidia
Architecture: all
Pre-Depends:  kfocus-nvidia-pinning
Depends:      ${misc:Depends}, kfocus-main,
              nvidia-driver-535
Recommends:   nvidia-modprobe,
              plasma-optimus
Breaks:       kfocus-nvidia-edge
Replaces:     kfocus-nvidia-edge
Description:  Kubuntu Focus Nvidia driver metapackage
 This package installs curated Nvidia drivers for
 Kubuntu Focus systems.

# debian/rules automatically sets the pinned version of kfocus-nvidia to the
# released version.
Package:      kfocus-nvidia-pinning
Architecture: all
Depends:      ${misc:Depends}
Breaks:       kfocus-nvidia-pinning-edge
Replaces:     kfocus-nvidia-pinning-edge
Description:  Kubuntu Focus Nvidia pinning
 This metapackage ensures proper pinning of Nvidia
 sources prior to retrieval of all other packages.

Package:      kfocus-nvidia-edge
Architecture: all
Pre-Depends:  kfocus-nvidia-pinning-edge
Depends:      ${misc:Depends}, kfocus-main,
              nvidia-driver-570-open,
              acpid
Recommends:   nvidia-modprobe,
              plasma-optimus
Breaks:       kfocus-nvidia
Replaces:     kfocus-nvidia
Description:  Kubuntu Focus Nvidia Edge driver metapackage
 This package installs curated Nvidia drivers for
 Kubuntu Focus systems. The Edge driver is selected for
 only validated models, and is automatically selected when
 required. Please do not install manually.

# ALWAYS make sure the pinned version of kfocus-nvidia-edge
# is set to match the version that is being released.
# For example, if we are releasing 24.04.2~beta5,
# kfocus-nvidia-edge MUST be pinned to that version.
Package:      kfocus-nvidia-pinning-edge
Architecture: all
Depends:      ${misc:Depends}
Breaks:       kfocus-nvidia-pinning
Replaces:     kfocus-nvidia-pinning
Description:  Kubuntu Focus Nvidia Edge pinning
 This metapackage ensures proper pinning of Nvidia
 sources prior to retrieval of all other packages.
 The Edge driver is selected for only validated models,
 and is automatically selected when required. Please
 do not install manually.

