Source:            kfocus-nvidia
Section:           metapackages
Priority:          optional
Maintainer:        Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.6.0
Build-Depends:     debhelper-compat (=13)

Package:      kfocus-001-nvidia
Architecture: all
Depends:      ${misc:Depends}, ${shlibs:depends},
              kfocus-nvidia (>= ${binary:Version})
Description:  Transitional Dummy Package for kfocus-nvidia
 This is a transitional dummy package.
 It can be safely removed.

Package:      kfocus-nvidia
Architecture: all
Pre-Depends:  kfocus-nvidia-pinning
Depends:      ${misc:Depends}, kfocus-main,
              nvidia-driver-525
Recommends:   nvidia-modprobe,
              plasma-optimus
Conflicts:    kfocus-001-nvidia (<< ${binary:Version})
Replaces:     kfocus-001-nvidia (<< ${binary:Version})
Description:  Nvidia Driver metapackage for Kubuntu Focus
 This package installs Nvida proprietary drivers
 for Kubuntu Focus laptops.

Package:      kfocus-nvidia-pinning
Architecture: all
Depends:      ${misc:Depends}
Description:  Kubuntu Focus Nvidia pinning
 This metapackage ensures proper pinning of Nvidia
 sources prior to retrieval of all other packages.
