Source:            kfocus-tools
Section:           misc
Maintainer:        Kubuntu Focus Team <support@kfocus.org>
Standards-Version: 4.7.3
Build-Depends:     cmake,
                   debhelper-compat (=13),
                   qt6-base-dev,
                   qt6-base-dev-tools

# Removed dependency on kfocus-power-fan
Package:      kfocus-tools
Architecture: all
Depends:      ${misc:Depends},
              kfocus-keyboard
Recommends:   kfocus-conda,
              kfocus-kb-color,
              kfocus-pick-gcc,
              kfocus-power-bin,
              kfocus-tbt,
              kfocus-vidsync,
              kfocus-recover-mount
Breaks:       kfocus-eth-yt6801,
              kfocus-tools-ir1xg3,
              kfocus-tools-m2g6,
              kfocus-tools-nxg1,
              kfocus-tools-other
Description:  Kubuntu Focus Tools Metapackage
 This metapackage installs the Kubuntu Focus tools.

# Removed breaks on kfocus-power-fan
Package:      kfocus-tools-ir1xg3
Architecture: all
Depends:      ${misc:Depends}
Recommends:   kfocus-eth-yt6801,
              kfocus-conda,
              kfocus-kb-color,
              kfocus-pick-gcc,
              kfocus-power-bin,
              kfocus-tbt,
              kfocus-vidsync,
              kfocus-recover-mount
Breaks:       kfocus-keyboard,
              kfocus-tools-m2g6,
              kfocus-tools-nxg1,
              kfocus-tools-other,
              kfocus-tools
Description:  Kubuntu Focus Tools - ir1xg3 Metapackage
 This metapackage installs the Kubuntu Focus tools
 for the Ir1X GEN 3 laptops.

# Removed breaks on kfocus-power-fan
Package:      kfocus-tools-m2g6
Architecture: all
Depends:      ${misc:Depends},
              kfocus-keyboard
Recommends:   kfocus-conda,
              kfocus-kb-color,
              kfocus-pick-gcc,
              kfocus-power-bin,
              kfocus-tbt,
              kfocus-vidsync,
              kfocus-recover-mount
Breaks:       kfocus-eth-yt6801,
              kfocus-tools-ir1xg3,
              kfocus-tools-nxg1,
              kfocus-tools-other,
              kfocus-tools
Description:  Kubuntu Focus Tools - M2G6 Metapackage
 This metapackage installs the Kubuntu Focus tools
 for the M2 GEN 6 laptops.

# Removed breaks on kfocus-power-fan
Package:      kfocus-tools-nxg1
Architecture: all
Depends:      ${misc:Depends}
Recommends:   kfocus-conda,
              kfocus-kb-color,
              kfocus-pick-gcc,
              kfocus-power-bin,
              kfocus-tbt,
              kfocus-vidsync,
              kfocus-recover-mount
Breaks:       kfocus-eth-yt6801,
              kfocus-keyboard,
              kfocus-tools-ir1xg3,
              kfocus-tools-m2g6,
              kfocus-tools-other,
              kfocus-tools
Description:  Kubuntu Focus Tools - NX Metapackage
 This metapackage installs the Kubuntu Focus tools
 for the NX desktops.

# Removed breaks on kfocus-power-fan
Package:      kfocus-tools-other
Architecture: all
Depends:      ${misc:Depends}
Recommends:   kfocus-conda,
              kfocus-kb-color,
              kfocus-pick-gcc,
              kfocus-power-bin,
              kfocus-tbt,
              kfocus-vidsync,
              kfocus-recover-mount
Breaks:       kfocus-eth-yt6801,
              kfocus-keyboard,
              kfocus-tools-ir1xg3,
              kfocus-tools-m2g6,
              kfocus-tools-nxg1,
              kfocus-tools
Description:  Kubuntu Focus Tools - Other Metapackage
 This metapackage installs the Kubuntu Focus tools
 for other systems

Package:      kfocus-kb-color
Architecture: all
Depends:      ${misc:Depends},
              kfocus-common,
              hicolor-icon-theme,
              kdialog,
              polkitd
Suggests:     kfocus-keyboard
Description:  Keyboard Color Chooser for Kubuntu Focus M1/M2
 With the Kubuntu Focus M1 and M2 laptops, you can customize
 the color of the RGB backlit keyboard with this utility. Settings
 made using this utility persist between reboots.

Package:      kfocus-conda
Architecture: all
Depends:      ${misc:Depends},
              kfocus-common,
              hicolor-icon-theme,
              kdialog,
Suggests:     kfocus-nvidia
Description:  Installer for Nvidia CUDA Deep Learning and AI libraries
 The Kubuntu Focus M1 and M2 are very powerful Deep Learning and Artificial
 Intelligence development platforms. This script has been engineered to install
 those libraries and tools with little to no effort.

Package:      kfocus-pick-gcc
Architecture: all
Depends:      ${misc:Depends},
              kfocus-common,
              hicolor-icon-theme,
              kdialog,
              qapt-batch
Description:  Change default GCC Version
 Some applications require compiling with a different GCC version
 than the system default. This utility allows you to change the
 system default GCC version pending availability in the repository.

Package:      kfocus-vidsync
Architecture: all
Depends:      ${misc:Depends},
              kfocus-common,
              hicolor-icon-theme,
              kdialog
Suggests:     kfocus-nvidia
Description:  Utility to help with vertical sync on Nvidia hardware
 Some external displays lose vertical sync on the Kubuntu Focus
 M1/M2 laptops. This utility helps to prevent that by enabling
 the composition pipeline and full composition pipeline. Enabling
 this can cause performance issues.

Package:      kfocus-tbt
Architecture: any
Depends:      ${misc:Depends}, ${shlibs:Depends}
Description:  KFocus Thunderbolt control tool
 Allows enabling and disabling Thunderbolt temporarily or permanently.

Package:      kfocus-recover-mount
Architecture: any
Depends:      ${misc:Depends}, ${shlibs:Depends}
Description:  KFocus system disk mount tool
 Allows mounting internal system disks from a live ISO for recovery.
